---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/193.28.84.37?access_key=1de96d674202e341c06139dbe054ccd3&fields=ip%2Ccontinent_code%2Ccontinent_name%2Ccountry_code%2Ccountry_name%2Cregion_code%2Cregion_name%2Ccity%2Czip%2Clatitude%2Clongitude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-apilayer-transaction-id:
      - 4b8b52b0-bba2-45c0-8fe1-beaf8de3e0cd
      x-quota-limit:
      - '100'
      x-quota-remaining:
      - '90'
      x-increment-usage:
      - '1'
      x-request-time:
      - '0.027'
    body:
      encoding: UTF-8
      string: '{"longitude": 16.88170051574707, "latitude": 51.137210845947266, "zip":
        "54-029", "city": "Wroc\u0142aw", "region_name": "Lower Silesia", "region_code":
        "DS", "country_name": "Poland", "country_code": "PL", "continent_name": "Europe",
        "continent_code": "EU", "ip": "193.28.84.37"}'
  recorded_at: Tue, 23 Jan 2024 16:17:59 GMT
recorded_with: VCR 6.2.0
