---
http_interactions:
- request:
    method: get
    uri: https://api.ipstack.com/193.28.84.37?access_key=1de96d674202e341c06139dbe054ccd3&fields=ip%2Ccontinent_code%2Ccontinent_name%2Ccountry_code%2Ccountry_name%2Cregion_code%2Cregion_name%2Ccity%2Czip%2Clatitude%2Clongitude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; Charset=UTF-8
      x-apilayer-transaction-id:
      - 205eb431-d414-4e34-9c28-16eadee413a7
      x-request-time:
      - '0.006'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":105,"type":"https_access_restricted","info":"Access
        Restricted - Your current Subscription Plan does not support HTTPS Encryption."}}'
  recorded_at: Tue, 23 Jan 2024 22:14:32 GMT
recorded_with: VCR 6.2.0
