---
http_interactions:
- request:
    method: get
    uri: https://api.ipstack.com/142.250.203.132?access_key=1de96d674202e341c06139dbe054ccd3&fields=ip%2Ccontinent_code%2Ccontinent_name%2Ccountry_code%2Ccountry_name%2Cregion_code%2Cregion_name%2Ccity%2Czip%2Clatitude%2Clongitude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; Charset=UTF-8
      x-apilayer-transaction-id:
      - 529ff997-0e3b-4f18-a18c-12948262944e
      x-request-time:
      - '0.006'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":105,"type":"https_access_restricted","info":"Access
        Restricted - Your current Subscription Plan does not support HTTPS Encryption."}}'
  recorded_at: Tue, 23 Jan 2024 22:17:34 GMT
- request:
    method: get
    uri: http://api.ipstack.com/142.250.203.132?access_key=1de96d674202e341c06139dbe054ccd3&fields=ip%2Ccontinent_code%2Ccontinent_name%2Ccountry_code%2Ccountry_name%2Cregion_code%2Cregion_name%2Ccity%2Czip%2Clatitude%2Clongitude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-apilayer-transaction-id:
      - 82644d9e-f7f9-48c3-977f-588141ee19e7
      x-quota-limit:
      - '100'
      x-quota-remaining:
      - '83'
      x-increment-usage:
      - '1'
      x-request-time:
      - '0.028'
    body:
      encoding: UTF-8
      string: '{"longitude": 21.018339157104492, "latitude": 52.2317008972168, "zip":
        "00-025", "city": "Warsaw", "region_name": "Mazovia", "region_code": "MZ",
        "country_name": "Poland", "country_code": "PL", "continent_name": "Europe",
        "continent_code": "EU", "ip": "142.250.203.132"}'
  recorded_at: Tue, 23 Jan 2024 22:18:30 GMT
recorded_with: VCR 6.2.0
